* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins';
}
:root{
  --backgraund-button:#20b15a;
  --backgraund-color:#D7F5DC;
}
.centralization{
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
}
